<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<body>
<p th:text="${name}" />

<div class="row">
    <div class="container">

        <form class="form-signin" action="/login" enctype="application/json" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="login" class="sr-only">Email address</label>
            <input id="login" name="login" class="form-control" placeholder="Email address"/>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>

            <button class="btn btn-lg btn-primary btn-block" onclick="test()">Sign in</button>
        </form>

    </div>
</div>
</body>
</html>
