<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="/static/sock-0.3.4.js"></script>
<script src="/static/stomp.js"></script>
<script src="/static/chat.js"></script>
<body onload="disconnect()">
<p th:text="${name}" />

<div class="row">
    <div class="col-lg-8 col-md-8">
        <div>
                <button id="connect" onclick="connect();">Connect</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
        </div>
        <div id="conversationDiv" style="border: darkgray 1px solid; width: 100%; height: 400px; background-color: lightgray;">

            <p id="response" style="height: 100%; overflow: auto;"></p>
        </div>
        <input type="text" id="name" />
        <button id="sendName" onclick="sendMessage();">Send</button>
    </div>
    <div class="col-lg-4 col-md-4">
        <p>Lista uzytkownikow:</p>
        <p id="usersList"></p>
    </div>
    <div class="col-lg-4 col-md-4">
        <select id="receipient">
            <option value="ALL">All</option>
        </select>
    </div>
</div>
</body>
</html>
